/* Styles for OUMatrix. */

/* Styles for preview. */
.que.oumatrix .answer .specificfeedback {
    background: #fff3bf;
}
.que.oumatrix .answer .generaltable thead tr {
    background-color: rgba(0, 0, 0, 0.03);
}
.que.oumatrix .answer .generaltable tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.03);
}
.que.oumatrix .answer .generaltable tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

/* Editing form. */
body#page-question-type-oumatrix div[id^=fitem_id_][id*=rowname_],
body#page-question-type-oumatrix div[id^=fgroup_id_][id*=rowoptions_],
body#page-question-type-oumatrix div[id^=fitem_id_][id*=feedback_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
body#page-question-type-oumatrix label[data-fieldtype=checkbox] {
    margin-right: 0.75rem;
}
/* Row validation error display. */
body#page-question-type-oumatrix div[id^=fgroup_id_][id*=error_rowoptions_] {
    border: 0;
}
body#page-question-type-oumatrix div[id^=fitem_id_][id*=feedback_] {
    margin-bottom: 2em;
}
